@import url(reset.css);
html, body {
  height: 100%;
  background: #0b0f28; }

html {
  font-size: 16px; }

::-webkit-scrollbar {
  width: 4px;
  background-color: #F5F5F5; }

::-webkit-scrollbar-thumb {
  background: -webkit-gradient(linear, left bottom, left top, from(#00c3ff), to(#ffff1c));
  background: -webkit-linear-gradient(bottom, #00c3ff, #ffff1c);
  background: linear-gradient(to top, #00c3ff, #ffff1c); }

::-webkit-scrollbar-track {
  background-color: #fff; }

.bf_af, .resume-center > div:before, .resume-center > div:after {
  position: absolute;
  width: 1.875rem;
  height: 1.875rem;
  border: 0.2rem solid transparent;
  -webkit-border-image: -webkit-gradient(linear, left top, right top, from(#e96443), to(#904e95)) 1 1 round;
  -webkit-border-image: -webkit-linear-gradient(left, #e96443, #904e95) 1 1 round;
  -o-border-image: -o-linear-gradient(left, #e96443, #904e95) 1 1 round;
  border-image: -webkit-gradient(linear, left top, right top, from(#e96443), to(#904e95)) 1 1 round;
  border-image: linear-gradient(to right, #e96443, #904e95) 1 1 round; }

.fc {
  color: #1f97fd; }

.resume {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 1.875rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }

.resume-top {
  height: 4.5rem;
  background: url(../images/bg_01.png) no-repeat center;
  background-size: cover;
  padding-top: 0.625rem;
  position: relative; }
  .resume-top h1 {
    text-align: center;
    color: #1f97fd; }

.resume-center {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 0.625rem 0;
  background: #101638; }
  .resume-center > div {
    height: 50%;
    padding: 1.25rem;
    position: relative; }
    .resume-center > div:before {
      content: '';
      top: 0;
      left: 0;
      border-right: none;
      border-bottom: none; }
    .resume-center > div:after {
      content: '';
      bottom: 0;
      right: 0;
      border-left: none;
      border-top: none; }
  .resume-center .basic {
    width: 50%;
    border-right: 0.3125rem solid #0b0f28;
    border-bottom: 0.625rem solid #0b0f28; }
    .resume-center .basic ul {
      color: #fff;
      font-size: 0.875rem;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      padding: 1rem 1.625rem; }
      .resume-center .basic ul li {
        width: 40%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: baseline;
        -ms-flex-align: baseline;
        align-items: baseline; }
        .resume-center .basic ul li i {
          font-style: normal;
          display: block;
          width: 3.75rem;
          text-align: justify; }
          .resume-center .basic ul li i:after {
            content: "";
            display: inline-block;
            width: 100%; }
  .resume-center .skill {
    width: 50%;
    border-left: 0.3125rem solid #0b0f28;
    border-bottom: 0.625rem solid #0b0f28;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
    .resume-center .skill #skill {
      -webkit-box-flex: 1;
      -ms-flex: 1;
      flex: 1; }
  .resume-center .experience {
    width: 60%;
    border-right: 0.3125rem solid #0b0f28;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
    .resume-center .experience > div {
      -webkit-box-flex: 1;
      -ms-flex: 1;
      flex: 1;
      overflow: auto; }
    .resume-center .experience ul {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      color: #fff;
      margin-left: 9.75rem;
      padding-left: 2rem;
      border-left: 0.25rem solid #eee9dc; }
      .resume-center .experience ul li {
        position: relative;
        padding-bottom: 1.6rem; }
        .resume-center .experience ul li .time {
          position: absolute;
          left: -11.875rem;
          top: 50%;
          -webkit-transform: translateY(-50%);
          -ms-transform: translateY(-50%);
          transform: translateY(-50%); }
        .resume-center .experience ul li h3 {
          font-size: 1rem;
          padding-bottom: 0.5rem; }
        .resume-center .experience ul li .link span, .resume-center .experience ul li .link a {
          font-size: 0.75rem;
          padding: 0 0.375rem; }
        .resume-center .experience ul li .link span {
          padding-left: 0;
          color: #e27d2c; }
        .resume-center .experience ul li:before {
          content: "";
          position: absolute;
          width: 0.625rem;
          height: 0.625rem;
          border-radius: 50%;
          left: -3.5rem;
          margin-left: 0.75rem;
          top: 50%;
          -webkit-transform: translateY(-50%);
          -ms-transform: translateY(-50%);
          transform: translateY(-50%);
          border: 0.3125rem solid #eee9dc;
          background: #101638;
          z-index: 2; }
        .resume-center .experience ul li:first-child:before {
          background: #5fe708; }
        .resume-center .experience ul li a {
          color: #fff; }
        .resume-center .experience ul li p {
          padding-bottom: 0.375rem;
          line-height: 1.5; }
  .resume-center .programme-skill {
    width: 20%;
    border-left: 0.3125rem solid #0b0f28;
    border-right: 0.3125rem solid #0b0f28; }
    .resume-center .programme-skill .programme-title {
      padding: 1rem 1.2rem;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap; }
      .resume-center .programme-skill .programme-title span {
        display: block;
        color: #fff;
        height: 1.75rem;
        line-height: 1.75rem;
        padding: 0 0.375rem;
        border-radius: 1.75rem;
        margin: 0 0.625rem 0.625rem 0;
        border: 0.0625rem solid #e27d2c; }
  .resume-center .intention {
    width: 20%;
    border-left: 0.3125rem solid #0b0f28; }
    .resume-center .intention ul {
      color: #fff;
      font-size: 0.875rem;
      padding: 1rem 1.2rem; }
      .resume-center .intention ul li {
        margin-bottom: 1rem; }
        .resume-center .intention ul li span {
          color: #1f97fd; }
  .resume-center .title {
    color: #1f97fd;
    height: 1.25rem;
    line-height: 1.25rem;
    font-size: 1rem;
    margin-bottom: 1rem; }

@media screen and (min-width: 310px) and (max-width: 1030px) {
  .resume {
    height: auto;
    padding: 0 1rem; }
    .resume .resume-center > div {
      width: 100%;
      height: auto;
      background: #101638;
      border-right: none;
      border-left: none;
      border-bottom: 0.625rem solid #0b0f28; }
    .resume .resume-center .basic ul {
      padding: 0; }
      .resume .resume-center .basic ul li {
        width: 50%;
        font-size: 0.875rem; }
  .resume-top {
    height: 2.4rem;
    padding: 0; }
    .resume-top h1 {
      font-size: 1.2rem; }
  #skill {
    height: 22rem; } }

@media screen and (min-width: 310px) and (max-width: 420px) {
  .resume {
    height: auto; }
    .resume .resume-center .basic ul {
      padding: 0; }
      .resume .resume-center .basic ul li {
        width: 50%;
        font-size: 0.75rem; }
        .resume .resume-center .basic ul li:not(:nth-child(odd)) {
          padding-left: 1rem; }
        .resume .resume-center .basic ul li:last-child {
          width: 100%;
          padding-left: 0; }
    .resume .resume-center .experience div {
      overflow: initial; }
    .resume .resume-center .experience ul {
      margin-left: 0; }
      .resume .resume-center .experience ul li .time {
        position: static; }
      .resume .resume-center .experience ul li p {
        color: rgba(255, 255, 255, 0.84); } }
