@import url(reset.css);
html, body {
  height: 100%;
  background: #0b0f28; }

.resume {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 30px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }

.resume-top {
  height: 72px;
  background: url(../images/bg_01.png) no-repeat center;
  background-size: cover;
  padding-top: 10px;
  position: relative; }
  .resume-top h1 {
    text-align: center;
    color: #1f97fd; }
  .resume-top [class$=-bg] {
    width: 39%;
    height: 48px;
    position: absolute;
    background: #101638; }
  .resume-top .left-bg {
    left: 0;
    bottom: 0; }
    .resume-top .left-bg:before {
      content: "";
      right: -48px;
      bottom: 0;
      position: absolute;
      border: 24px solid #101638;
      border-top-color: transparent;
      border-right-color: transparent; }
  .resume-top .rgith-bg {
    right: 0;
    bottom: 0; }
    .resume-top .rgith-bg:before {
      content: "";
      left: -48px;
      bottom: 0;
      position: absolute;
      border: 24px solid #101638;
      border-top-color: transparent;
      border-left-color: transparent; }

.resume-center {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 4px 0 10px;
  background: #101638; }
  .resume-center > div {
    height: 50%;
    padding: 20px; }
  .resume-center .basic {
    width: 50%;
    border-right: 2px solid #0b0f28;
    border-bottom: 4px solid #0b0f28; }
    .resume-center .basic ul {
      color: #fff;
      font-size: 14px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap; }
      .resume-center .basic ul li {
        width: 40%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: baseline;
        -ms-flex-align: baseline;
        align-items: baseline; }
        .resume-center .basic ul li i {
          font-style: normal;
          display: block;
          width: 60px;
          text-align: justify; }
          .resume-center .basic ul li i:after {
            content: "";
            display: inline-block;
            width: 100%; }
      .resume-center .basic ul .fc {
        color: #1f97fd; }
  .resume-center .skill {
    width: 50%;
    border-left: 2px solid #0b0f28;
    border-bottom: 4px solid #0b0f28;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
    .resume-center .skill #skill {
      -webkit-box-flex: 1;
      -ms-flex: 1;
      flex: 1; }
  .resume-center .experience {
    border-right: 2px solid #0b0f28;
    width: 60%; }
  .resume-center .programme-skill {
    width: 20%;
    border-right: 2px solid #0b0f28;
    border-left: 2px solid #0b0f28; }
  .resume-center .intention {
    width: 20%;
    border-left: 2px solid #0b0f28; }
  .resume-center .title {
    color: #1f97fd;
    height: 20px;
    line-height: 20px;
    font-size: 16px;
    margin-bottom: 16px; }
