@import "reset.css";
$bg:#0b0f28;
$mbg:#101638;
$fc:#1f97fd;
html,body{
    height: 100%;
    background: $bg;
}
html {
    font-size: 16px;
}

// 边框通用
.bf_af{
	position: absolute;
	width: 1.875rem;
	height: 1.875rem;
	border: 0.375rem solid transparent;
	border-image: linear-gradient(45deg, #2196F3, #4CAF50) 10 10 round;
}
// 字体
.fc{
	color: $fc;
}

.resume{
	height: 100%;
	display: flex;
	padding: 0 1.875rem;
	flex-direction: column;
}
// 头部
.resume-top{
    height: 4.5rem;
    background: url(../images/bg_01.png) no-repeat center;
	background-size: cover;
	padding-top: 0.625rem;
	position: relative;
	h1{
		text-align: center;
		color: $fc;
	}
}

// 主体
.resume-center{
	flex: 1;
	display: flex;
	flex-wrap: wrap;
	margin: 0.625rem 0;
	background: $mbg;
	&>div{
		height: 50%;
		padding: 1.25rem;
		position: relative;
		&:before{
			content: '';
			@extend .bf_af;
			top: 0;
			left: 0;
			border-right: none;
			border-bottom: none;
		}
		&:after{
			content: '';
			@extend .bf_af;
			bottom: 0;
			right: 0;
			border-left: none;
			border-top: none;
		}
	}
	// 基本信息
	.basic{
		width: 50%;
		border-right: 0.3125rem solid $bg;
		border-bottom: 0.625rem solid $bg;	
		ul{
			color: #fff;
			font-size: 0.875rem;
			display: flex;
			flex-wrap: wrap;
			padding: 1rem 1.625rem;
			li{
				width: 40%;
				display: flex;
				align-items: baseline;
				// margin-bottom: 1rem;
				i{
					font-style: normal;
					display: block;
					width: 3.75rem;
					text-align: justify;
					&:after{
						content: "";
						display: inline-block;
						width: 100%;
						// position: absolute;
					}
				}
			}
		}
	}
	// skill
	.skill{
		width: 50%;
		border-left: 0.3125rem solid $bg;
		border-bottom: 0.625rem solid $bg;
		display: flex;
		flex-direction: column;
		#skill{
			flex: 1;
		}
	}
	// 工作经验
	.experience{
		width: 60%;
		border-right: 0.3125rem solid $bg;
		display: flex;
		flex-direction: column;
		&>div{
			flex: 1;
			overflow: auto;
		}
		ul{
			display: flex;
			flex-direction: column;
			color: #fff;
			margin-left: 9.75rem;
			padding-left: 2rem;
			border-left: 0.25rem solid #eee9dc;
			li{
				position: relative;
				padding-bottom: 1.6rem;
				.time{
					position: absolute;
					left: -11.875rem;
					top: 50%;
					transform: translateY(-50%);
				}
				h3{
					font-size: 1rem;
					padding-bottom: 0.5rem;

				}
				.link{
					span,a{
						font-size: 0.75rem;
						padding:0 0.375rem;
					}
					span{
						padding-left: 0;
						color: #e27d2c;
					}
				}
				&:before{
					content: "";
					position: absolute;
					width: 0.625rem;
					height: 0.625rem;
					border-radius: 50%;
					left: -3.5rem;
					margin-left: 0.75rem;
					top: 50%;
					transform: translateY(-50%);
					border: 0.3125rem solid #eee9dc;
					background: $mbg;
					z-index: 2;
				}
				&:first-child:before{
					background: #f98262;
				}
				a{
					color: #fff;
				}
				p{
					padding-bottom: 0.375rem;
				}
			}
		}
	}
	// 编程技能
	.programme-skill{
		width: 20%;
		border-left: 0.3125rem solid $bg;
		border-right: 0.3125rem solid $bg;
		.programme-title{
			padding: 1rem 1.2rem;
			display: flex;
			flex-wrap: wrap;
			span{
				display: block;
				color: #fff;
				height: 1.75rem;
				line-height: 1.75rem;
				padding: 0 0.375rem;
				border-radius: 1.75rem;
				margin: 0 0.625rem 0.625rem 0;
				border: 0.0625rem solid #e27d2c;
			}
		}
	}
	// 求职意愿
	.intention{
		width: 20%;
		border-left: 0.3125rem solid $bg;
		ul{
			color: #fff;
			font-size: 0.875rem;
			padding: 1rem 1.2rem;
			li{
				margin-bottom: 1rem;
				span{
					color: $fc;
				}
			}
		}
	}
	// 通用头部标题
	.title{
		color: $fc;
		height: 1.25rem;
		line-height: 1.25rem;
		font-size: 1rem;
		margin-bottom: 1rem;
	}
}

@media screen and (min-width: 310px) and (max-width: 1030px){
	.resume{
		height: auto;
		padding: 0 1rem;
		.resume-center{
			&>div{
				width:100%;
				height: auto;
				background: $mbg;
				border-right: none;
				border-left: none;
				border-bottom: 0.625rem solid #0b0f28; 
			}
			.basic {
				ul{
					padding: 0;
					li{
						width: 50%;
						font-size: 0.875rem;
					}
				}
			}
		}	
	}
	.resume-top{
		height: 2.4rem;
		padding: 0;
		h1{
			font-size: 1.2rem;
		}
	}
	#skill{
		height: 22rem;
	}
}
@media screen and (min-width: 310px) and (max-width: 420px){
	.resume{
		height: auto;
		.resume-center{
			.basic {
				ul{
					padding: 0;
					li{
						width: 50%;
						font-size: 0.75rem;
						&:not(:nth-child(odd)){
							padding-left: 1rem;
						}
						&:last-child(){
							width: 100%;
							padding-left: 0;
						}
					}
				}
			}
			 .experience{
				 div{
					 overflow: initial;
				 }
				 ul{
					 margin-left: 0;
					 li{
						 .time{
							position: static;
						 }
						 p{
							color: rgba(255, 255, 255, 0.84);
						 }
					 }
				 }
			 }
		}	
	}
}